<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'includes/_depends.html' %}

    <title>Task Tracker Plus | Sign Up!</title>
  </head>
  <body ng-app="App" ng-controller="reset-password-ctrl">


    {% if signed_in %}
      {% include 'includes/navbar-signedin.html' %}
    {% else %}
      {% include 'includes/navbar-signedout.html' %}
    {% endif %}

    <!--  -->

    <main class="container">
      <section class="row-bar">
        <div class="middlr box-s1 middle-box">
          <h1 class="text-center">Reset Password</h1>
          <p class="text-center"></p>
          <br/>
          <form class="ui form" ng-hide="resetRequested">
            <div class="field">
              <label>Email Address</label>
              <input type="text" ng-model="email_input" placeholder="Email Address">
            </div>
            <button class="ui button action-item" type="submit" ng-click="submit_password_reset_request()">Submit</button>
          </form>
        </div>

        <div class="middlr box-s1 middle-box">
          <h1 class="text-center">Confirm Reset</h1>
          <p class="text-center">If you have the code from the email, which was sent after using the above form, enter it below</p>
          <br/>
          <form class="ui form" ng-hide="requestConfirmed">
            <div class="field">
              <label>Reset Code</label>
              <input type="text" ng-model="code_input" placeholder="Reset Code">
            </div>
            <button class="ui button action-item" type="submit" ng-click="submit_password_reset_code()">Submit</button>
          </form>
        </div>
      </section>
    </main>

    <script src="/static/js/controllers/reset-password-ctrl.js"></script>

    <!--  -->

    {% include 'includes/footer.html' %}

  </body>
</html>
