<div>
  <h3>Password Reset Request</h3>

  <p>Hi <strong>{{ data.user.displayname }}</strong>, You are receiving this because a password reset has been requested for this email!</p>

  <p>The code to reset the password: <strong>{{ data.reset_request.unique_value }}</strong></p>

  <p>The code must be entered at the reset password page: http://{{ data.link }}</p>

  <p>
    If you did not submit this request, please delete this email.
    Your current password has not been changed.
    Changing your password is recommended.
  </p>
</div>
